.box-container {
    margin: 50px;
    width: 200px;
    height: 200px;
    perspective: 600px;
}

.box {
    position: relative;
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;    
    animation-name: rotateY360;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;
}

@keyframes rotateY360 {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes rotateX360 {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

.box-face {
    width: inherit;
    height: inherit;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

.box-face-front {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtzce5O52GstNE972sFH5tPEVurt_q-ZZebYrYhixUIra576Aa');
    transform: translate3d(0, 0, 100px);
}

.box-face-back {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ08zUSlliBnXUEl-Ou64XMux2X7-xRwTBEniLr_dwVu1ZkUEdQg');
    transform: rotateY(180deg) translate3d(0, 0, 100px);
}

.box-face-left {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7wzjzXVfyHV--NRnTXMKcn2q9uwteWsfVHwo7asq-oCZwRyIZ');
    transform: rotateY(-90deg) translate3d(0, 0, 100px);
}

.box-face-right {
    background-image: url('https://i.ebayimg.com/images/g/NqMAAOSwr7ZW2nWp/s-l300.jpg');
    transform: rotateY(90deg) translate3d(0, 0, 100px);
}

.box-face-top {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ098otPIZ3bCEkzSoAJGr79ifK9EVRNX0upZOmTnBMmr0TQ_a1');
    transform: rotateX(90deg) translate3d(0, 0, 100px);
}

.box-face-bottom {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwjpUFd-fPEXDjEcVGndhJveLAHzDTjpDwWTNSi-lB4effir6W');
    transform: rotateX(-90deg) translate3d(0, 0, 100px);
}